.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

button:hover{
  cursor: pointer;
}

/* this is my resume section */

.resume{
  position: fixed;
  top: 6vh;
  height: 94vh;
  width: 100%;
}

iframe{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* this is my contact section */

.comments-title{
  background-image: linear-gradient(to top, black, #303030);
  font-family: futura;
  /* border-radius: 15px; */
}

.messages{
  margin-top: 10vh;
  overflow-y: auto;
  width: 50%;
  margin-bottom: 5vh;
  background-color: white;
  border-radius: 20px
}

.message{
  font-size: 16px;
  border-radius: 3vh;
  margin: 2px;
  background-color: #cecece;
  color: black;
}


/* .message-area:hover{
  background-color: #808080;
} */


.message-reply{
  font-size: 12px;
  background-color: red
}

.name-date{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: black;
}

.replies{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  border-radius: 3vh;
  margin: 2px;
  padding-left: 12%;
  padding-right: 12%;
}

.replies div{
  color: blue;
  cursor: pointer;
  font-weight: bold;
}

.contact{
  height: 100%;
  width: 100%;
  font-size: 3em;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  background-color: #303030;
}

.contact-left{
  margin-top: 10vh;
  width: 30%;
  font-size: .5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-me{
  background-image: linear-gradient(to top, black, #303030);
}



.form-area{
  margin-top: 10vh;
  height: 60%;
  width: 100%;
  left: 20vw;
  /* border: black 2px solid; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* background-color: white; */
  margin-bottom: 5vh;
}

/* .form-area input{
  width: 100%;
  justify-self: center;
  background-color: white;
} */

.message-content{
  width: 80%;
  /* height: 120px; */
  justify-content: center;
  text-align: start;
  /* padding-left: 15px; */
  padding-right: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

/* this is my home section */


.home{
  width: 100%;
  height: 100vh;
  background: url('../src/images/mtJeffColor.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  position: fixed;
  font-family: open-sans;
  font-size: 5vw;
  font-weight: 500;
  color: rgb(117, 113, 113);
  text-decoration: none;
  animation-name: colorup;
  animation-duration: 4s;
  animation-delay: 3s;
  animation-fill-mode: both;
}


.home .quote1{
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 15%;
  left: 65%;
  transform: translate(-50%, -50%);
  animation-name: quoteslide;
  animation-duration: 6s;
  text-decoration: none;
  
}


.quote2{
  width: 100%;
  position: fixed;
  top: 22%;
  left: 70%;
  transform: translate(-50%, -50%);
  animation-name: quoteslide2;
  animation-duration: 5.3s;
}

.quote{
  text-shadow: 0 0 1px;
  transition-property: text-shadow;
  transition-duration: 2s;
}

.home .quote:hover{
  text-shadow: 0 0 10px rgb(230, 230, 230)
}



/* this is my bio section */

.section{
  font-family: verdana;
  position: relative;
  font-size: 7.5vh;
  color: white;
  /* color: rgb(206, 234, 238); */
  z-index: 1;
  text-decoration: none;
  padding: 7%;
  padding-left: 9%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  animation-name: biofade;
  animation-duration: 1s;
}


.bio{
  position: relative;
  height: 100vh;
  background: url('../src/images/software.jpg');
  /* background-color: rgba(0, 0, 0, 0.9); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.bio-content{
  position: fixed;
  width: 85%;
  height: 80%;
  transform: translate(9%);
  background-color: rgba(5, 5, 5, 0.918);
  text-align: left;
  /* background-color: rgba(226, 226, 226, 0.8); */
  top: 14%;
  left: 0%;
  text-decoration: none;
  border: 1px solid rgba(60, 240, 260);
  border-radius: 5px;
  opacity: 1;
}


/* .cartoon{
  height: 30px;
  width: 30px;
  position: fixed;
  top:60%;
  left: 50%;
  background-image: url('/Users/brendanfallon/projects/portfolio/src/images/constructionCartoon.jpg');
  z-index: 999;
} */


/* this is my project section */


.thumb{
  height: 35vh;
  width: 85%;
  border: 2px solid rgb(185, 185, 185);
  border-radius: 7px;
  background-color: rgba(39, 41, 48, .8);
  /* background-color: rgb(209, 209, 209, .8); */
  /* background-color: black; */
  margin: 6px;
  padding: 1.5vh;
  font-family: futura;
  font-size: 2.5em;
  color: white;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  transition: all .2s ease-in-out;
}

/* .thumb {  } */
.thumb:hover { background-color: rgba(62, 64, 70, 0.8); }


.project{
  width: 100%;
}

.project-body{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  filter: none
}

.details{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
  top: 2%;
  bottom: 2%;
}

.details .description{
  width: 100%;
  padding-right: 10%;
  padding-left: 8%;
  align-self: center;
}

.details img{
  overflow: hidden;
  width: 30vh;
  height: 30vh;
  transform: translate(5%, 5%);
  object-fit: contain;
}

.thumb p{
  font-size: 1.6vh;
}

hr{
  width: 75%
}

.project-list{
  background: url('../src/images/fsa.png') no-repeat center center fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 7em;
  padding-bottom: 2em;
  padding-left: 10%;
  padding-right: 10%;
  z-index: 1;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes quoteslide {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@keyframes quoteslide2 {
  from {
    top: -50%;
  }
  to {
    top: 22%;
  }
}

@keyframes thousandglow {
  from {
    color:white;
  }
  to {
    color: yellow;
  }
}

@keyframes biofade {
  from {
    opacity: 0
    /* top: 100%;
    bottom:200%; */
  }
  to {
    opacity: 1
    /* top: 12%;
    bottom: 100% */
  }
}



@keyframes colorup{
  from {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%); 
    -o-filter: grayscale(100%); 
  }
  to {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%); 
    -o-filter: grayscale(0%); 
  }
}

