.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

/* this is my resume section */

.resume{
  position: fixed;
  top: 6vh;
  height: 94vh;
  width: 100%;
}

iframe{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* this is my contact section */

.contact{
  height: 100vh;
  width: 100%;
  font-size: 3em;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 15%;
}

/* .form{
  width: 75%;
  align-self: center;
  border: black 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form input{
  width: 75%;
  justify-self: center;
} */

/* this is my home section */


.home{
  width: 100%;
  height: 100vh;
  background: url('../src/images/mtJeffColor.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  position: fixed;
  font-family: open-sans;
  font-size: 5vw;
  font-weight: 500;
  color: rgb(117, 113, 113);
  text-decoration: none;
  animation-name: colorup;
  animation-duration: 4s;
  animation-delay: 3s;
  animation-fill-mode: both;
}


.home .quote1{
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 15%;
  left: 65%;
  transform: translate(-50%, -50%);
  animation-name: quoteslide;
  animation-duration: 6s;
  text-decoration: none;
  
}


.quote2{
  width: 100%;
  position: fixed;
  top: 22%;
  left: 70%;
  transform: translate(-50%, -50%);
  animation-name: quoteslide2;
  animation-duration: 5.3s;
}

.quote{
  text-shadow: 0 0 1px;
  transition-property: text-shadow;
  transition-duration: 2s;
}

.home .quote:hover{
  text-shadow: 0 0 10px rgb(230, 230, 230)
}



/* this is my bio section */

.section{
  position: relative;
  top: 15%;
  font-size: 7vh;
  color: white;
  z-index: 1;
  text-decoration: none;
}

#one{
  top: 10%
}

.bio{
  position: relative;
  height: 100vh;
  /* background: url('../src/images/fsa.jpg'); */
  background-color: rgba(39, 41, 48, .9);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1;
  /* overflow-x: hidden;
  overflow-y: auto; */
}

.bio-content{
  position: fixed;
  width: 85%;
  height: 80%;
  transform: translate(9%);
  /* background-color: rgba(139, 139, 139, 0.5); */
  top: 12%;
  left: 0%;
  animation-name: bioslide;
  animation-duration: 1s;
  color: black;

}


.cartoon{
  height: 30px;
  width: 30px;
  position: fixed;
  top:60%;
  left: 50%;
  background-image: url('/Users/brendanfallon/projects/portfolio/src/images/constructionCartoon.jpg');
  z-index: 999;
}


/* this is my project section */


.thumb{
  height: 35vh;
  width: 85%;
  background-color: rgba(39, 41, 48, .9);
  /* background-color: rgb(209, 209, 209, .8); */
  margin: 6px;
  padding: 1.5vh;
  font-family: futura;
  font-size: 2.5em;
  color: white;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  transition: all .2s ease-in-out;
}

/* .thumb {  } */
.thumb:hover { transform: scale(1.005); }


.project{
  width: 100%;
}

.project-body{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.details{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
  top: 2%;
  bottom: 2%;
}

.details .description{
  width: 100%;
  padding-right: 10%;
  padding-left: 8%;
  align-self: center;
}

.details img{
  overflow: hidden;
  width: 30vh;
  height: 30vh;
  transform: translate(5%, 5%);
  object-fit: contain;
}

.thumb p{
  font-size: 1.6vh;
}

hr{
  width: 75%
}

.project-list{
  background: url('../src/images/bwOutdoor.jpg') no-repeat center center fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 7em;
  padding-bottom: 2em;
  padding-left: 10%;
  padding-right: 10%;
  z-index: 1;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes quoteslide {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@keyframes quoteslide2 {
  from {
    top: -50%;
  }
  to {
    top: 22%;
  }
}

@keyframes thousandglow {
  from {
    color:white;
  }
  to {
    color: yellow;
  }
}

@keyframes bioslide {
  from {
    top: 100%;
    bottom:200%;
  }
  to {
    top: 12%;
    bottom: 100%
  }
}



@keyframes colorup{
  from {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%); 
    -o-filter: grayscale(100%); 
  }
  to {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%); 
    -o-filter: grayscale(0%); 
  }
}

